<div class='card' style='width: 18rem;'>
  <%= cl_image_tag list.image.key, class:'card-img-top', alt:"list image"%>
  <div class='card-body'>
    <h5 class='card-title'><%= list.name %></h5>
    <p class='card-text'><%= list.resume %></p>
    <%= link_to 'See More', '#', class:'btn btn-danger' %>
  </div>
</div>
