<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path(banner[:img_url])%>)">
  <div class="row mx-0">
    <div class="col-md-6 offset-md-3">
      <h1>Welcome <span class="text-danger"><%= banner[:title]%></span></h1>
      <p><%= banner[:content] %></p>
    </div>
  </div>
</div>
